@import url("reset");
@import url("viewports");
@import url("variables");

::selection {
  background-color: var(--color-pri);
  color: #fff;
}

/* ----------------------
	Mona Sans
---------------------- */

@font-face {
  font-family: "Mona Sans";
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
}

html,
body {
  height: 100%;
  min-height: 100vh;

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation: none !important;
      scroll-behavior: auto !important;
      transition-duration: 0ms !important;
    }
  }
}

html {
  &:not(.transitioning) {
    scroll-behavior: smooth;

    /* scroll-padding-top: calc(var(--promo-banner-height) + var(--main-header-height)); */
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-base);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-stretch: 85%;
  font-weight: 400;
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--color-pri);
  transition: all var(--hover-duration) ease;

  &:has(span) {
    text-decoration: none;
  }
}

a:focus,
button:focus {
  outline: none;

  @nest [data-whatintent="keyboard"] & {
    outline: 2px dotted;
    outline-offset: 2px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
  height: 0;
  margin-bottom: 2em;
  margin-top: 2em;
}

.srOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Handles hiding/showing of main header */
.headroom {
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  right: 0;
  top: 1rem;
  transition: all 200ms ease;
  width: 100%;
  z-index: 100;
}

/* stylelint-disable */
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

.headroom--scrolled,
.headroom--pinned,
.headroom--unpinned {
  & header {
    box-shadow: 0 0 30px #0003;
  }
}

.headroom--unpinned {
  position: fixed;
  top: 1rem;
  transform: translateY(calc((100% + var(--promo-banner-height) + 1rem) * -1));
}

.headroom--pinned {
  position: fixed;
  top: 1rem;
  transform: translateY(0);
}

.headroom-disable-animation {
  transition-duration: 0ms !important;
}

.pswp__bg {
  --pswp-bg: #081a2c99;
}

/* stylelint-enable */
