.richText {
  @media screen and (min-width: 760px) {
    font-size: 1.125em;
  }

  & > *:not(div) {
    margin-bottom: 0;
  }

  & > * + *:not(div) {
    margin-top: 1.25em;
  }

  & h2 {
    font-size: clamp(1.75rem, 5vw, 2.25rem);
    line-height: 1.2;
  }

  & a:not(:has(span)) {
    outline: 2px solid transparent;

    @nest [data-whatintent="mouse"] &:hover {
      background-color: var(--color-pri);
      color: #fff;
      outline-color: var(--color-pri);
    }
  }

  & em {
    font-style: oblique;
  }

  & ul {
    padding-left: 1.5em;

    & li {
      margin-bottom: 0.5em;
    }
  }
}
