.richText {
  & a {
    outline: 2px solid transparent;

    @nest [data-whatintent="mouse"] &:hover {
      background-color: var(--color-pri);
      color: #fff;
      outline-color: var(--color-pri);
    }
  }
}
