.richText {
  & a:not(:has(span)) {
    outline: 2px solid transparent;

    @nest [data-whatintent="mouse"] &:hover {
      background-color: var(--color-pri);
      color: #fff;
      outline-color: var(--color-pri);
    }
  }

  & em {
    font-style: oblique;
  }
}
