.wrapper {
  background-color: var(--header-background);
  color: var(--text-reverse);
  position: relative;

  &::after {
    background-image: url("/images/drips-dark.svg");
    background-repeat: no-repeat;
    content: " ";
    display: none;
    height: 3.5rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 98%;
    width: 8.625rem;

    @media screen and (min-width: 740px) {
      display: block;
    }
  }
}

.container {
  align-items: center;
  display: flex;
  height: 7.5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--container-width-lg);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  position: relative;
}

.branding {
  position: relative;
  z-index: 1;

  & a {
    color: #fff;
  }

  & svg {
    display: block;
    margin: 0 auto;
    transition: all 150ms ease;

    & [class*="signature"] {
      fill: #fff;
    }

    & [class*="border"] {
      fill: var(--header-background);
    }
  }

  @nest [data-whatintent="mouse"] &:hover {
    & svg {
      transform: rotate(-2.5deg) scale(1.1);
    }
  }
}

.stripes {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 200ms ease;
  width: 90%;
  z-index: 0;

  @media screen and (min-width: 700px) {
    width: 70%;
  }

  @nest [data-whatintent="mouse"] :hover + & {
    width: 80%;

    & .stripe {
      background-color: var(--color-pri);
    }
  }
}

.stripe {
  background-color: #fff3;
  border-radius: 2px;
  height: 4px;
  margin: 8px auto;
  transition: background-color 150ms ease;
  width: 100%;

  &:nth-child(2) {
    width: calc(100% - 3rem);

    @media screen and (min-width: 700px) {
      width: calc(100% - 4rem);
    }
  }

  &:nth-child(3) {
    width: calc(100% - 6rem);

    @media screen and (min-width: 700px) {
      width: calc(100% - 8rem);
    }
  }
}
