.wrapper {
  background-color: var(--color-pri);
  font-size: 1.25rem;
  position: sticky;
  top: 0;

  &::after {
    background-image: url("/images/drips-pink.svg");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 3.5em;
    left: 0;
    position: absolute;
    top: 98%;
    width: 8.625em;
  }
}

.list {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--container-width-lg);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
}

.item {
  list-style: none;

  & a {
    align-items: center;
    color: #fff;
    display: flex;
    font-stretch: 75%;
    font-weight: 500;
    height: 2.25em;
    letter-spacing: 0.1em;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 0;

    &::before {
      aspect-ratio: 9 / 13;

      /* background-color: #f00; */
      background-image: url("/images/drips-nav.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      transition: transform 500ms var(--ease-out-cubic);
      width: 100%;
      z-index: -1;
    }

    &.isActive,
    &:hover {
      &::before {
        transform: translateY(0);
        transition-duration: 750ms;
        transition-timing-function: var(--ease-in-cubic);
      }
    }
  }
}
