.container {
  margin: 0 auto;
  max-width: var(--container-width-md);
  padding-bottom: 6rem;
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  padding-top: 2rem;

  @media screen and (min-width: 740px) {
    padding-top: 4rem;
  }
}

.heading {
  font-size: clamp(2.5rem, 7vw, 4rem);
  line-height: 1;
  margin-bottom: 0.5em;
}
